header {
    background-color: #222;
    padding: 10px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
    position: fixed;
}
* {
    box-sizing: border-box;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.logo {
    max-width: 150px;
    display: flex;
    float: left;
    height: 65px;
}
ul {
    display: inline-block;
    vertical-align: middle;
}
nav {
    font-family: "Quicksand", sans-serif;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 1px;
    padding: 0;
}
nav > ul > li > a {
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 16px;
    color: #f5f3f5;
}
nav > ul > li > a:visited {
    color: #f5f3f5;
}
nav > ul > li > a:hover {
    color: #ffe570;
}
nav > ul > li > a:active {
    color: orangered;
}
main {
    padding-top: 75px;
}
body {
    background-color: rgb(237, 236, 231);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}
h1 {
    font-size: 2.5em;
    font-weight: 300;
    font-family: "Quicksand", sans-serif;
}
h2 {
    font-size: 2em;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}
h4 {
    font-size: 1.0em;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
mark.orange {
    color: #CB2F00;
    background: none;
}
mark.heart {
    color:#ffe570;
    font-size: 18px;
    background: none;
}
.row {
    margin: 25px 0;
}
.row.wireframes {
    margin: auto auto;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
}
.column.wireframes {
    width: auto;
    padding: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
#hero {
    background-color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 20px 0;
    color: #f5f3f5;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.about {
    background-color: #edece6 !important;
    color: #222 !important;
}
#hero span {
    display: block;
}
#work .row {
    padding-bottom: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-container.wireframes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}
.grid-image {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    object-fit: fill;
    max-width: fit-content; 
}
.grid-image.wireframes {
    width: 100%;
    height: auto;
}
.midproto {
    width: 50% !important;
    height: auto !important;
    object-fit: fill !important;
    max-width: none;
}
img {
    max-width: 75%;
    height: auto;
}
img.wireframes {
    min-width: 15%;
    max-width: 50%;
    height: auto;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.picture.gif {
    max-width: 700px;
    height: auto;
}
.images {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#profile {
    max-width: 250px;
    float: left;
    padding: 15px;
    margin-bottom: 2px;
}
p.about {
    text-align: justify;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
p {
    text-align: left;
    font-size: 16px;
}
.p-body {
    margin-left: 75px;
    margin-right: 75px;
}
.round {
    border: 2px solid #CB2F00;
    border-radius: 8px;
    padding: 5px;
}
#wireframes {
    width: 25%;
}
#hero h1,
h2 {
    text-align: center;
}
#listA {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listB {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listC {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listD {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listE {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listF {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listG {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    text-align: left;
}
#listH {
    list-style: decimal;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
    display: inline-block;
    text-align: left
}
.clist {
    text-align: center;
}
video {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
a {
    color: #94A8FF;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #ffe570;
    text-decoration: underline;
}
a:visited {
    color: white;
}
a:active {
    color: #994c30;
}
footer {
    background-color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #f5f3f5;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline-block;
}
.social {
    padding: 0;
    margin: 5px;
}
.button {
    background-color: #94A8FF;
    font-weight:bold;
    padding: 10px;
    margin-left: 75px;
    color: #222;
    border-radius: 8px;
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: opacity;
}
.button.resume {
    background-color: #94A8FF;
    padding: 10px;
    margin-left: 0;
    border-radius: 8px;
    display: inline-block;
    transition-duration: 0.2s;
}
.button.resume:hover {
    opacity: 1;
}
.prototype-button {
    background-color: #edece6;
    border: 2px solid #94A8FF;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 20px;
    color: #222;
    border-radius: 8px;
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: opacity;
}
.prototype-button:hover {
    opacity: 1;
    text-decoration: none;
    background-color: #94A8FF;
}
.prototype-button:visited {
    color:#222;
}
.button:hover {
    opacity: 1;
    text-decoration: none;
    background-color: #ffe570;
}
.button:active {
    opacity: 1;
}
.button:visited {
    color: #222;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #f5f3f5;
    text-transform: uppercase;
    border: 2px solid #94A8FF;
    padding: 10px;
    margin: 0;
}
.button.contact:hover {
    background-color: #94A8FF;
    color: #f5f3f5;
    opacity: 1;
}
.button.contact:active {
    opacity: 1;
}
.button.index {
    margin-left: 0;
}
.button.soon {
    background-color: #ACACAC;
    padding: 10px;
    margin-left: 0;
    color: #222;
    border-radius: 8px;
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: opacity;
}
.link {
    color:#94A8FF !important;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FF8D63; /* Set a background color */
    color: #222; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 45px; /* Rounded corners */
}
#myBtn:hover {
    background-color: #edece6; /* Add a dark-grey background on hover */
    text-decoration: none; /* Underlines text on hover */
    border: 2px solid #FF8D63; /* Add a orangered border on hover */
}
/* Layout styling */
.container {
    padding: 0;
}
.container.wireframes {
    padding: 0 5px;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    padding-right: 0;
}
.navtoggle.responsive nav {
    padding: 0px 0;
}
.navtoggle.responsive li  {
    display: block;
    padding-top: 10px;
    text-align: center;
}
.navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
}
@media only screen and (max-width: 640px) {
    .grid-container.wireframes {
    grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        margin-right: 15px;
        width: auto;
        float: right;
    }
    nav > ul > li {
        display: inline-block;
    }  
    nav > ul {
        margin: 1em 0;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }  
    .col-md-6 {
        width: 50%;
    }
    .col-md-about {
        display: inline-block;
        vertical-align: middle;
    }
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    #about-page h3 {
        margin-top: 0;
    }
    
}
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 60%;
    }
    .col-lg-5 {
        width: 40%;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 1440px) {
    body {
        font-size: 16px;
    }
}