header {
    background-color: #222;
    padding: 10px;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.6);
    position: fixed;
}
* {
    box-sizing: border-box;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.logo {
    max-width: 150px;
    display: flex;
    float: left;
    height: 65px;
}
ul {
    display: inline-block;
    vertical-align: middle;
}
nav {
    font-family: "Quicksand", sans-serif;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 1px;
    padding: 0;
}
nav > ul > li > a {
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 16px;
    color: #f5f3f5;
}
nav > ul > li > a:visited {
    color: #a8b8ff;
}
nav > ul > li > a:hover {
    color: #ffe570;
}
nav > ul > li > a:active {
    color: orangered;
}
main {
    padding-top: 75px;
}
body {
    background-color: rgb(237, 236, 231);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}
h1 {
    font-size: 2.5em;
    font-weight: 300;
    font-family: "Quicksand", sans-serif;
}
h2 {
    font-size: 2em;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}
h4 {
    font-size: 1.5em;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.row {
    margin: 25px 0;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
#hero {
    background-color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 20px 0;
    color: #f5f3f5;
    width: 100%;
    display: inline-block;
    text-align: center;
}
#hero h1 {
    margin: 0;
    padding: 0.67em;
}
#hero span {
    display: block;
}
#work .row {
    padding-bottom: 25px;
}
img {
    max-width: 75%;
    height: auto;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#profile {
    max-width: 200px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: left;
    font-size: 16px;
}
.p-body {
    margin-left: 75px;
    margin-right: 75px;
}
#wireframes {
    width: 25%;
}
#hero h1,
h2 {
    text-align: center;
}
#listA {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listB {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listC {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listD {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listE {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listF {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listG {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
#listH {
    list-style: circle;
    margin-left: 100px;
    margin-right: 75px;
    line-height: 1.75;
}
video {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
a {
    color: #708aff;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #ffe570;
    text-decoration: underline;
}
a:visited {
    color: purple;
}
a:active {
    color: #994c30;
}
footer {
    background-color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #f5f3f5;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline-block;
}
.social {
    padding: 0;
    margin: 5px;
}
.button {
    background-color: #708aff;
    font-weight: 400;
    padding: 10px;
    margin-left: 75px;
    color: #f5f3f5;
    border-radius: 8px;
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
    background-color: #ffe570;
}
.button:active {
    opacity: 1;
}
.button:visited {
    color: #222;
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: #f5f3f5;
    text-transform: uppercase;
    border: 2px solid #708aff;
    padding: 10px;
    margin: 0;
}
.button.contact:hover {
    background-color: #708aff;
    color: #f5f3f5;
}
.button.contact:active {
    opacity: 1;
}
.button.index {
    margin-left: 0;
}
/* Layout styling */
.container {
    padding: 0 15px;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    padding-right: 0;
}
.navtoggle.responsive nav {
    padding: 0px 0;
}
.navtoggle.responsive li  {
    display: block;
   padding-top: 20px;
   text-align: center;
}
.navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
}
@keyframes color-change {
    0% {
        fill: yellow;
    }
    50% {
        fill: orange;
    }
    100% {
        fill: purple;
    }
}
.sun {
    animation-duration: 5s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes rotate-left {
    to {
        transform: rotate(360deg);
    }
}
.sun-border {
    animation-name: rotate-left;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -2s;
    animation-direction: normal;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
.cloud-front {
    animation-duration: 15s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}
.cloud-back {
    animation: 20s cloud-move-reverse infinite alternate linear;
}
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        margin-right: 15px;
        width: auto;
        float: right;
    }    
    nav > ul > li {
        display: inline-block;
    }  
    nav > ul {
        margin: 1em 0;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }  
    .col-md-6 {
        width: 50%;
    }
    .col-md-about {
        display: inline-block;
        vertical-align: middle;
    }
    [class*="col-"] {
        float: left;
        padding: 10px;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }      
    #about-page h3 {
        margin-top: 0;
    }
    
}
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 60%;
    }
    .col-lg-5 {
        width: 40%;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 1440px) {
    body {
        font-size: 16px;
    }
}